{% extends 'index.html' %}

{% block content %}
    <h1>All Projects Template</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Beatae, dignissimos! Omnis dolor repudiandae voluptates maxime 
        nulla cumque accusamus id. Ratione aliquid recusandae sit ipsam 
        autem voluptatem provident, quod eum. Quidem.
    </p>

    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Reiciendis quisquam a rem dolore perferendis excepturi, 
        vero voluptates voluptate. Eligendi culpa repellendus laboriosam 
        illum aliquam magnam. 
        Reiciendis nisi qui illum magnam!</p>

{% endblock content %}