{% extends 'index.html' %}

{% block content %}
    <h1>Project Template</h1>   

    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem molestias, voluptas facilis obcaecati consequatur quidem corrupti culpa iusto quibusdam nostrum consequuntur, deleniti excepturi nemo, placeat iste quo necessitatibus libero quas.
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eveniet vel iusto quidem deserunt, suscipit quas illo culpa cum voluptatum facilis. Ullam harum distinctio saepe quos provident veritatis quidem hic.
    </p>
{% endblock content %}